@font-face {
  font-family: 'libre_baskervillebold';
  src: url("../fonts/librebaskerville/librebaskerville-bold-webfont.eot");
  src: url("../fonts/librebaskerville/librebaskerville-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/librebaskerville/librebaskerville-bold-webfont.woff2") format("woff2"), url("../fonts/librebaskerville/librebaskerville-bold-webfont.woff") format("woff"), url("../fonts/librebaskerville/librebaskerville-bold-webfont.svg#libre_baskervillebold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'libre_baskervilleitalic';
  src: url("../fonts/librebaskerville/librebaskerville-italic-webfont.eot");
  src: url("../fonts/librebaskerville/librebaskerville-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/librebaskerville/librebaskerville-italic-webfont.woff2") format("woff2"), url("../fonts/librebaskerville/librebaskerville-italic-webfont.woff") format("woff"), url("../fonts/librebaskerville/librebaskerville-italic-webfont.svg#libre_baskervilleitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'libre_baskervilleregular';
  src: url("../fonts/librebaskerville/librebaskerville-regular-webfont.eot");
  src: url("../fonts/librebaskerville/librebaskerville-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/librebaskerville/librebaskerville-regular-webfont.woff2") format("woff2"), url("../fonts/librebaskerville/librebaskerville-regular-webfont.woff") format("woff"), url("../fonts/librebaskerville/librebaskerville-regular-webfont.svg#libre_baskervilleregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/roboto/Roboto-Regular-webfont.eot");
  src: url("../fonts/roboto/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular-webfont.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight';
  src: url("../fonts/roboto/Roboto-Light-webfont.eot");
  src: url("../fonts/roboto/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Light-webfont.woff2") format("woff2"), url("../fonts/roboto/Roboto-Light-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotomedium';
  src: url("../fonts/roboto/Roboto-Medium-webfont.eot");
  src: url("../fonts/roboto/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Medium-webfont.woff2") format("woff2"), url("../fonts/roboto/Roboto-Medium-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-Medium-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-Medium-webfont.svg#robotomedium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotothin';
  src: url("../fonts/roboto/Roboto-Thin-webfont.eot");
  src: url("../fonts/roboto/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Thin-webfont.woff2") format("woff2"), url("../fonts/roboto/Roboto-Thin-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-Thin-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-Thin-webfont.svg#robotothin") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoitalic';
  src: url("../fonts/roboto/Roboto-Italic-webfont.eot");
  src: url("../fonts/roboto/Roboto-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Italic-webfont.woff2") format("woff2"), url("../fonts/roboto/Roboto-Italic-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-Italic-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-Italic-webfont.svg#robotoitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'abpptsi';
  src: url("../fonts/abpptsi/abpptsi.eot?ohsnds");
  src: url("../fonts/abpptsi/abpptsi.eot?ohsnds#iefix") format("embedded-opentype"), url("../fonts/abpptsi/abpptsi.ttf?ohsnds") format("truetype"), url("../fonts/abpptsi/abpptsi.woff?ohsnds") format("woff"), url("../fonts/abpptsi/abpptsi.svg?ohsnds#abpptsi") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 118, ../sass/style.scss */
[class^="abpptsi"], [class*=" abpptsi"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'abpptsi' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 133, ../sass/style.scss */
.abpptsiic-date:before {
  content: "\e90e";
  color: #043473;
}

/* line 137, ../sass/style.scss */
.abpptsiic-location:before {
  content: "\e90f";
  color: #366fb2;
}

/* line 141, ../sass/style.scss */
.abpptsiicontoggleclose:before {
  content: "\e90c";
}

/* line 144, ../sass/style.scss */
.abpptsiicontogglemenu:before {
  content: "\e90d";
}

/* line 147, ../sass/style.scss */
.abpptsiicontwitter:before {
  content: "\e900";
  color: #fff;
}

/* line 151, ../sass/style.scss */
.abpptsiiconsearch:before {
  content: "\e901";
  color: #4a4a4a;
}

/* line 155, ../sass/style.scss */
.abpptsiiconrss:before {
  content: "\e902";
  color: #fff;
}

/* line 159, ../sass/style.scss */
.abpptsiiconphone:before {
  content: "\e903";
  color: #9b9b9b;
}

/* line 163, ../sass/style.scss */
.abpptsiiconpdf:before {
  content: "\e904";
  color: #fff;
}

/* line 167, ../sass/style.scss */
.abpptsiiconmail:before {
  content: "\e905";
  color: #9b9b9b;
}

/* line 171, ../sass/style.scss */
.abpptsiicongplus:before {
  content: "\e906";
  color: #fff;
}

/* line 175, ../sass/style.scss */
.abpptsiiconfb:before {
  content: "\e907";
  color: #fff;
}

/* line 179, ../sass/style.scss */
.abpptsiarrowright:before {
  content: "\e908";
  color: #4a4a4a;
}

/* line 183, ../sass/style.scss */
.abpptsiiconbacktotop:before {
  content: "\e909";
  color: #fefefe;
}

/* line 187, ../sass/style.scss */
.abpptsiarrowleft:before {
  content: "\e90a";
  color: #4a4a4a;
}

/* line 191, ../sass/style.scss */
.abpptsiarrowdown:before {
  content: "\e90b";
  color: #4a4a4a;
}

/* line 198, ../sass/style.scss */
body {
  overflow-x: hidden;
}

/* line 201, ../sass/style.scss */
h1, h2, h3, h4, h5 {
  font-family: 'libre_baskervilleregular';
}

/* line 204, ../sass/style.scss */
p {
  font-family: 'robotolight';
}

/* line 207, ../sass/style.scss */
a:hover {
  text-decoration: none;
  opacity: 0.9;
  transition: 0.3s;
}

/* line 212, ../sass/style.scss */
a {
  transition: 0.3s;
}

/* line 215, ../sass/style.scss */
a:focus {
  text-decoration: none;
}

/* line 218, ../sass/style.scss */
.btn_rounded {
  border-radius: 50px;
  font-size: 10px;
  padding: 8px 30px;
}

/* line 223, ../sass/style.scss */
.btn_outline_blue {
  background: transparent;
  border: 1px solid #283E83;
  font-family: 'robotomedium';
  font-size: 10px;
  color: #283E83;
  text-align: center;
  text-transform: uppercase;
}

/* line 232, ../sass/style.scss */
.btn_outline_blue:hover {
  color: #fff;
  background-color: #283E83;
  border-color: #283E83;
}

/* line 237, ../sass/style.scss */
.btn_outline_white {
  background: transparent;
  border: 1px solid #fff;
  font-family: 'robotomedium';
  font-size: 10px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

/* line 246, ../sass/style.scss */
.btn_outline_white:hover {
  color: #959595;
  background-color: #fff;
  border-color: #fff;
}

/* line 251, ../sass/style.scss */
.btn_red {
  background: #b23948;
  border: 1px solid #b23948;
  font-family: 'robotomedium';
  font-size: 10px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

/* line 260, ../sass/style.scss */
.btn_red:hover {
  color: #b23948;
  background-color: #fff;
  border-color: #b23948;
}

/* line 265, ../sass/style.scss */
.form-control {
  border: 2px solid #dedede;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-family: 'robotolight';
}

/* line 273, ../sass/style.scss */
.form-group {
  margin-bottom: 50px;
}

/* line 276, ../sass/style.scss */
label {
  font-family: 'robotolight';
  font-weight: normal;
}
/* line 279, ../sass/style.scss */
label span {
  color: #b23948;
}

/* line 283, ../sass/style.scss */
.gutter-25.row {
  margin-right: 25px;
  margin-left: 25px;
}

/* line 287, ../sass/style.scss */
.gutter-25 > [class^="col-"],
.gutter-25 > [class^=" col-"] {
  padding-right: 25px;
  padding-left: 25px;
}

/* line 294, ../sass/style.scss */
.title_black {
  margin-bottom: 45px;
}
/* line 295, ../sass/style.scss */
.title_black h2 {
  font-family: 'libre_baskervilleregular';
  text-transform: uppercase;
  font-size: 20px;
  color: #4a4a4a;
  margin-top: 0px;
}
/* line 303, ../sass/style.scss */
.title_black .bottom_line {
  width: 70px;
  border-bottom: 1px solid #043473;
}

/* line 308, ../sass/style.scss */
.title_white {
  margin-bottom: 45px;
}
/* line 309, ../sass/style.scss */
.title_white h2 {
  font-family: 'libre_baskervilleregular';
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  margin-top: 0px;
}

/* line 318, ../sass/style.scss */
.more {
  position: absolute;
  bottom: 20px;
  right: 40px;
  font-size: 0.8em;
  font-style: italic;
}

/* line 326, ../sass/style.scss */
.affix {
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 999;
}
/* line 331, ../sass/style.scss */
.affix .logo_abpptsi {
  width: 60px;
}
/* line 334, ../sass/style.scss */
.affix .contact {
  display: none;
}

/* line 339, ../sass/style.scss */
.top_menu {
  background: #fbfbfb;
  padding-top: 15px;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: 0px 6px 4px -3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 6px 4px -3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 6px 4px -3px rgba(0, 0, 0, 0.1);
}
/* line 348, ../sass/style.scss */
.top_menu .logo {
  position: relative;
  z-index: 999;
}
/* line 353, ../sass/style.scss */
.top_menu #nav_abpptsi {
  margin-bottom: 0px;
}
/* line 355, ../sass/style.scss */
.top_menu #nav_abpptsi .nav {
  margin-top: 10px;
}
/* line 357, ../sass/style.scss */
.top_menu #nav_abpptsi .nav li {
  margin-left: 20px;
  font-family: 'robotolight';
  font-size: 14px;
  text-transform: uppercase;
}
/* line 362, ../sass/style.scss */
.top_menu #nav_abpptsi .nav li a {
  color: #4a4a4a;
  opacity: 0.8;
  padding: 15px 5px;
  height: 50px;
}
/* line 368, ../sass/style.scss */
.top_menu #nav_abpptsi .nav li a:hover,
.top_menu #nav_abpptsi .nav li a:focus,
.top_menu #nav_abpptsi .nav li a:active,
.top_menu #nav_abpptsi .nav li a:visited {
  background: transparent;
  border-bottom: 2px solid #b23948;
  padding: 15px 5px;
  height: 50px;
}
/* line 378, ../sass/style.scss */
.top_menu #nav_abpptsi .nav .search_mobile {
  display: none;
}
/* line 381, ../sass/style.scss */
.top_menu #nav_abpptsi .nav .dropdown-menu {
  border-radius: 0px;
  padding: 5px 15px 25px 15px;
  margin-right: -18px;
}
/* line 385, ../sass/style.scss */
.top_menu #nav_abpptsi .nav .dropdown-menu li {
  text-align: left;
  margin-left: 0px;
  font-size: 12px;
}
/* line 389, ../sass/style.scss */
.top_menu #nav_abpptsi .nav .dropdown-menu li a {
  height: 35px;
}
/* line 392, ../sass/style.scss */
.top_menu #nav_abpptsi .nav .dropdown-menu li a:hover {
  height: 35px;
  border-bottom: none;
}
/* line 398, ../sass/style.scss */
.top_menu #nav_abpptsi .nav .abpptsiarrowdown {
  font-size: 0.4em;
}
/* line 402, ../sass/style.scss */
.top_menu #nav_abpptsi #navbar-hamburger,
.top_menu #nav_abpptsi #navbar-close {
  color: #043473;
  font-size: 2em;
}
/* line 407, ../sass/style.scss */
.top_menu #nav_abpptsi .navbar-toggle {
  margin-right: 0px;
}
/* line 413, ../sass/style.scss */
.top_menu .contact li p {
  font-family: 'robotolight';
  font-size: 12px;
  color: #4a4a4a;
}
/* line 418, ../sass/style.scss */
.top_menu .contact li .top_search {
  border-radius: 40px;
  border: 1px solid #dedede;
  padding: 3px 10px;
  font-family: 'robotolight';
  font-size: 0.8em;
}
/* line 425, ../sass/style.scss */
.top_menu .contact li .abpptsiiconsearch {
  position: absolute;
  top: 5px;
  right: 30px;
}
/* line 432, ../sass/style.scss */
.top_menu .contact_mobile {
  display: none;
}

/* line 437, ../sass/style.scss */
.home_banner_wrap {
  background: #dedede;
}

/* line 440, ../sass/style.scss */
.home_banner {
  width: 100%;
  height: 455px;
  background: url("../images/banner_photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
/* line 448, ../sass/style.scss */
.home_banner .banner_text {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-40%, -50%);
  z-index: 99;
}
/* line 456, ../sass/style.scss */
.home_banner .banner_text h2 {
  font-family: 'libre_baskervilleregular';
  font-size: 30px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 0.9;
  -moz-opacity: 0.9;
  filter: alpha(opacity=9);
  letter-spacing: 0.5px;
}
/* line 466, ../sass/style.scss */
.home_banner .banner_text p {
  font-family: robotothin;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.7;
  -moz-opacity: 0.7;
  filter: alpha(opacity=7);
  letter-spacing: 0.5px;
}
/* line 477, ../sass/style.scss */
.home_banner .blue_filter {
  background: rgba(29, 73, 132, 0.9);
  position: absolute;
  width: 100%;
  height: 455px;
  z-index: 9;
}

/* line 487, ../sass/style.scss */
.activity {
  background: #f3f3f3;
  padding-top: 45px;
  padding-bottom: 45px;
}
/* line 491, ../sass/style.scss */
.activity .item_activity {
  height: 430px;
  -webkit-box-shadow: 7px 7px 7px -4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 7px 7px 7px -4px rgba(0, 0, 0, 0.15);
  box-shadow: 7px 7px 7px -4px rgba(0, 0, 0, 0.15);
}
/* line 496, ../sass/style.scss */
.activity .item_activity .img_activity {
  height: 430px;
  width: 55%;
  background-repeat: no-repeat !important;
  background-size: 105% !important;
  float: left;
}
/* line 502, ../sass/style.scss */
.activity .item_activity .img_activity .post_date {
  position: absolute;
  background: #043473;
  color: #fff;
  font-family: 'libre_baskervilleregular';
  text-align: center;
  left: 30px;
  padding: 10px;
  width: 70px;
}
/* line 511, ../sass/style.scss */
.activity .item_activity .img_activity .post_date .big {
  font-size: 3em;
  border-bottom: 1px solid #fff;
}
/* line 517, ../sass/style.scss */
.activity .item_activity .desc_activity {
  background: #fff;
  width: 45%;
  height: 430px;
  float: left;
  padding: 10px 40px 30px 30px;
}
/* line 523, ../sass/style.scss */
.activity .item_activity .desc_activity h3 {
  font-family: 'libre_baskervilleregular';
  color: #4a4a4a;
  font-size: 1.3em;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}
/* line 530, ../sass/style.scss */
.activity .item_activity .desc_activity .location {
  font-size: 0.8em;
  color: #366fb2;
}
/* line 534, ../sass/style.scss */
.activity .item_activity .desc_activity .overview {
  height: 126px;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
  font-family: 'robotolight';
  margin-bottom: 30px;
  margin-top: 30px;
}

/* line 549, ../sass/style.scss */
.services {
  background: #5D5D5D;
  padding-top: 45px;
  padding-bottom: 45px;
}
/* line 553, ../sass/style.scss */
.services .item_policy {
  padding-bottom: 40px;
}
/* line 555, ../sass/style.scss */
.services .item_policy h4 {
  margin-top: 0px;
}
/* line 557, ../sass/style.scss */
.services .item_policy h4 a {
  color: #fff;
  font-size: 16px;
  font-family: 'robotoregular';
  text-transform: uppercase;
}
/* line 564, ../sass/style.scss */
.services .item_policy p {
  color: #fff;
  font-size: 12px;
  font-family: 'robotolight';
  line-height: 18px;
  opacity: 0.6;
  -moz-opacity: 0.6;
  filter: alpha(opacity=6);
}

/* line 576, ../sass/style.scss */
.gallery {
  padding-top: 45px;
  padding-bottom: 45px;
}
/* line 579, ../sass/style.scss */
.gallery .caption {
  background: #043473;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}
/* line 590, ../sass/style.scss */
.gallery #gallery_slider .item_gallery_img {
  height: 250px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
/* line 595, ../sass/style.scss */
.gallery #gallery_slider .owl-prev,
.gallery #gallery_slider .owl-next {
  height: 20px;
  width: 20px;
  background: transparent;
  top: 38%;
}
/* line 602, ../sass/style.scss */
.gallery #gallery_slider .owl-prev {
  position: absolute;
  left: -30px;
}
/* line 606, ../sass/style.scss */
.gallery #gallery_slider .owl-next {
  position: absolute;
  right: 0px;
}

/* line 613, ../sass/style.scss */
.inspiration {
  padding-top: 45px;
  padding-bottom: 45px;
  background: #f3f3f3;
}
/* line 617, ../sass/style.scss */
.inspiration .inspiration_box {
  height: 450px;
  -webkit-box-shadow: 7px 7px 7px -4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 7px 7px 7px -4px rgba(0, 0, 0, 0.15);
  box-shadow: 7px 7px 7px -4px rgba(0, 0, 0, 0.15);
}
/* line 622, ../sass/style.scss */
.inspiration .inspiration_box .img_inspiration {
  height: 450px;
  width: 40%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  float: left;
}
/* line 630, ../sass/style.scss */
.inspiration .inspiration_box .desc_inspiration {
  background: #fff;
  width: 60%;
  height: 450px;
  float: left;
  padding: 60px 40px 40px 40px;
}
/* line 636, ../sass/style.scss */
.inspiration .inspiration_box .desc_inspiration .overview {
  overflow-y: hidden;
  line-height: 25px;
  font-family: 'robotolight';
  margin-bottom: 50px;
  color: #4a4a4a;
  display: inline-block;
  height: 220px;
  text-indent: 50px;
  letter-spacing: 0px;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=8);
}
/* line 650, ../sass/style.scss */
.inspiration .inspiration_box .desc_inspiration h4 {
  font-family: 'libre_baskervilleitalic';
}
/* line 654, ../sass/style.scss */
.inspiration .inspiration_box .desc_inspiration:before {
  color: #4a4a4a;
  content: open-quote;
  font-size: 8em;
  line-height: 0.5em;
  position: absolute;
}
/* line 663, ../sass/style.scss */
.inspiration .home_news_list {
  margin-bottom: 45px;
}
/* line 665, ../sass/style.scss */
.inspiration .home_news_list .img_news {
  float: left;
  height: 80px;
  width: 25%;
  background-size: cover !important;
  margin-right: 20px;
}
/* line 673, ../sass/style.scss */
.inspiration .home_news_list .desc_news h4 {
  font-family: 'libre_baskervilleregular';
  color: #4a4a4a;
  height: 48px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
  letter-spacing: 0px;
  font-size: 16px;
}
/* line 684, ../sass/style.scss */
.inspiration .home_news_list .desc_news h4 a {
  color: #4a4a4a;
}
/* line 688, ../sass/style.scss */
.inspiration .home_news_list .desc_news .post_date {
  font-size: 0.9em;
  color: rgba(4, 52, 115, 0.8);
  font-family: 'robotoitalic';
}

/* line 697, ../sass/style.scss */
.pts_profile {
  padding-top: 45px;
  padding-bottom: 45px;
}
/* line 701, ../sass/style.scss */
.pts_profile #profil_pts_logo .item {
  text-align: center;
}
/* line 703, ../sass/style.scss */
.pts_profile #profil_pts_logo .item img {
  width: 100px;
  margin: 0 auto;
}
/* line 707, ../sass/style.scss */
.pts_profile #profil_pts_logo .item .caption {
  font-family: 'libre_baskervilleregular';
  font-size: 11px;
  color: #4a4a4a;
}

/* line 716, ../sass/style.scss */
.footer {
  background: #5D5D5D;
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 720, ../sass/style.scss */
.footer .address {
  border-right: 1px solid #989898;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 724, ../sass/style.scss */
.footer .address h4 {
  font-family: 'libre_baskervilleregular';
  color: #fff;
  margin-bottom: 20px;
}
/* line 729, ../sass/style.scss */
.footer .address p {
  color: #fff;
  font-family: 'robotolight';
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter: alpha(opacity=5);
  font-size: 0.9em;
}
/* line 737, ../sass/style.scss */
.footer .address .social {
  margin-top: 30px;
}
/* line 739, ../sass/style.scss */
.footer .address .social .icon {
  font-size: 1.6em;
}
/* line 744, ../sass/style.scss */
.footer .footer_menu {
  padding-top: 30px;
  text-align: right;
}
/* line 747, ../sass/style.scss */
.footer .footer_menu li {
  vertical-align: top;
  margin-left: 10px;
}
/* line 750, ../sass/style.scss */
.footer .footer_menu li a {
  font-family: libre_baskervilleregular;
  color: #fff;
  font-size: 11px;
  opacity: 0.8;
}
/* line 756, ../sass/style.scss */
.footer .footer_menu li li {
  text-align: left;
  list-style: none;
  margin-left: -40px;
}
/* line 760, ../sass/style.scss */
.footer .footer_menu li li a {
  font-family: 'robotolight';
}

/* line 768, ../sass/style.scss */
.footer_bottom {
  background: #4D4D4D;
  padding-top: 10px;
}
/* line 771, ../sass/style.scss */
.footer_bottom a {
  color: #fff;
  font-size: 0.8em;
}
/* line 775, ../sass/style.scss */
.footer_bottom .copyright {
  color: #fff;
  font-size: 0.8em;
  padding-left: 0px;
}
/* line 780, ../sass/style.scss */
.footer_bottom .col-sm-6 {
  padding-left: 0px;
}
/* line 783, ../sass/style.scss */
.footer_bottom .to_top {
  text-align: right;
}

/* line 788, ../sass/style.scss */
.content_inside {
  min-height: 550px;
  padding-top: 45px;
  padding-bottom: 45px;
}
/* line 792, ../sass/style.scss */
.content_inside .title_inside {
  text-align: center;
  text-transform: uppercase;
  color: #4a4a4a;
  opacity: 0.9;
}
/* line 798, ../sass/style.scss */
.content_inside .underline {
  border-bottom: 1px solid #4a4a4a;
  width: 80px;
  height: 5px;
  margin: 0 auto;
  margin-bottom: 45px;
}
/* line 805, ../sass/style.scss */
.content_inside .underline_bottom {
  border-bottom: 2px solid #979797;
  width: 80px;
  margin-top: 30px;
  margin-bottom: 45px;
}
/* line 811, ../sass/style.scss */
.content_inside .last_update {
  font-family: 'libre_baskervilleitalic';
  font-size: 0.9em;
}
/* line 815, ../sass/style.scss */
.content_inside p {
  line-height: 24px;
  opacity: 0.7;
}
/* line 819, ../sass/style.scss */
.content_inside .pts_logo_inside {
  text-align: center;
  padding-bottom: 80px;
}
/* line 822, ../sass/style.scss */
.content_inside .pts_logo_inside .img_pts {
  height: 150px;
}
/* line 825, ../sass/style.scss */
.content_inside .pts_logo_inside img {
  width: 100px;
}
/* line 828, ../sass/style.scss */
.content_inside .pts_logo_inside .caption {
  font-family: 'libre_baskervilleregular';
  font-size: 0.9em;
}
/* line 834, ../sass/style.scss */
.content_inside .gallery_inside .item_gallery_inside {
  margin-bottom: 30px;
}
/* line 836, ../sass/style.scss */
.content_inside .gallery_inside .item_gallery_inside .item_gallery_img {
  height: 250px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
/* line 841, ../sass/style.scss */
.content_inside .gallery_inside .item_gallery_inside .caption {
  background: #043473;
  color: #fff;
  margin-top: -30px;
  width: 100%;
  text-align: center;
  padding: 10px;
}
/* line 852, ../sass/style.scss */
.content_inside .item_policy {
  padding-bottom: 40px;
}
/* line 854, ../sass/style.scss */
.content_inside .item_policy h4 {
  margin-top: 0px;
}
/* line 856, ../sass/style.scss */
.content_inside .item_policy h4 a {
  color: #4a4a4a;
  font-size: 14px;
  font-family: 'robotoregular';
  text-transform: uppercase;
}
/* line 863, ../sass/style.scss */
.content_inside .item_policy p {
  color: #4a4a4a;
  font-size: 12px;
  font-family: 'robotolight';
  line-height: 10px;
  opacity: 0.6;
  -moz-opacity: 0.6;
  filter: alpha(opacity=6);
}
/* line 872, ../sass/style.scss */
.content_inside .item_policy .abpptsiiconpdf::before {
  color: #4a4a4a;
  font-size: 2.5em;
}
/* line 878, ../sass/style.scss */
.content_inside .item_activity_inside .img_activity {
  height: 200px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
}
/* line 883, ../sass/style.scss */
.content_inside .item_activity_inside .img_activity .post_date {
  position: absolute;
  background: #043473;
  color: #fff;
  font-family: 'libre_baskervilleregular';
  text-align: center;
  left: 40px;
  padding: 10px;
  width: 70px;
}
/* line 892, ../sass/style.scss */
.content_inside .item_activity_inside .img_activity .post_date .big {
  font-size: 3em;
  border-bottom: 1px solid #fff;
}
/* line 898, ../sass/style.scss */
.content_inside .item_activity_inside .desc_activity {
  margin-bottom: 30px;
}
/* line 900, ../sass/style.scss */
.content_inside .item_activity_inside .desc_activity h3 {
  font-family: 'libre_baskervilleregular';
  color: #4a4a4a;
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 0px;
  text-transform: uppercase;
}
/* line 908, ../sass/style.scss */
.content_inside .item_activity_inside .desc_activity .location {
  font-size: 0.8em;
  color: #366fb2;
}
/* line 912, ../sass/style.scss */
.content_inside .item_activity_inside .desc_activity .overview {
  height: 100.8px;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
  font-family: 'robotolight';
  margin-bottom: 45px;
}
/* line 922, ../sass/style.scss */
.content_inside .item_activity_inside .desc_activity .more {
  position: relative;
  text-align: center;
}

@media (max-width: 1200px) {
  /* line 936, ../sass/style.scss */
  .footer_menu li {
    height: 120px;
    width: 30%;
    float: left;
    text-align: left;
  }
  /* line 941, ../sass/style.scss */
  .footer_menu li li {
    width: 100%;
    height: auto;
  }

  /* line 951, ../sass/style.scss */
  .top_menu #nav_abpptsi .nav li {
    margin-left: 10px;
  }

  /* line 959, ../sass/style.scss */
  .activity .item_activity {
    height: 380px;
  }
  /* line 961, ../sass/style.scss */
  .activity .item_activity .img_activity {
    height: 380px;
  }
  /* line 964, ../sass/style.scss */
  .activity .item_activity .desc_activity {
    height: 380px;
    padding: 10px 30px 20px 20px;
  }
  /* line 967, ../sass/style.scss */
  .activity .item_activity .desc_activity h3 {
    font-size: 1.2em;
  }

  /* line 974, ../sass/style.scss */
  .gallery_padding_mobile.row {
    margin-right: 15px;
    margin-left: 15px;
  }

  /* line 978, ../sass/style.scss */
  .gallery_padding_mobile > [class^="col-"],
  .gallery_padding_mobile > [class^=" col-"] {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (max-width: 991px) {
  /* line 989, ../sass/style.scss */
  .top_menu #nav_abpptsi .nav li {
    font-size: 0.7em;
    margin-left: 5px;
  }

  /* line 998, ../sass/style.scss */
  .home_banner .banner_text {
    left: 20%;
    transform: translate(-13%, -50%);
  }

  /* line 1005, ../sass/style.scss */
  .activity .item_activity {
    height: 730px;
  }
  /* line 1007, ../sass/style.scss */
  .activity .item_activity .img_activity {
    height: 350px;
    width: 100%;
    float: none;
  }
  /* line 1012, ../sass/style.scss */
  .activity .item_activity .desc_activity {
    width: 100%;
    height: 380px;
    float: left;
  }
}
@media (max-width: 767px) {
  /* line 1022, ../sass/style.scss */
  .top_menu {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  /* line 1027, ../sass/style.scss */
  .top_menu #nav_abpptsi .nav li {
    font-size: 1em;
    text-align: left;
    border-bottom: 1px solid #dedede;
    margin-left: 0px;
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 1034, ../sass/style.scss */
  .top_menu #nav_abpptsi .nav li a:hover,
  .top_menu #nav_abpptsi .nav li a:focus,
  .top_menu #nav_abpptsi .nav li a:active,
  .top_menu #nav_abpptsi .nav li a:visited {
    border-bottom: none;
  }
  /* line 1040, ../sass/style.scss */
  .top_menu #nav_abpptsi .nav li li {
    border-bottom: none;
    padding-left: 0px;
    list-style: square;
  }
  /* line 1046, ../sass/style.scss */
  .top_menu #nav_abpptsi .nav .search_mobile {
    display: block;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #dedede;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  /* line 1054, ../sass/style.scss */
  .top_menu #nav_abpptsi .nav .search_mobile .top_search {
    width: 100%;
    border-radius: 40px;
    border: 1px solid #dedede;
    padding: 5px 10px;
    font-family: 'robotolight';
    font-size: 0.8em;
  }
  /* line 1062, ../sass/style.scss */
  .top_menu #nav_abpptsi .nav .search_mobile .abpptsiiconsearch {
    position: absolute;
    top: 15px;
    right: 30px;
  }
  /* line 1068, ../sass/style.scss */
  .top_menu #nav_abpptsi .nav .contact_mobile {
    display: block;
  }
  /* line 1070, ../sass/style.scss */
  .top_menu #nav_abpptsi .nav .contact_mobile p {
    font-family: 'robotolight';
    font-size: 0.8em;
    color: #4a4a4a;
  }
  /* line 1078, ../sass/style.scss */
  .top_menu .logo_abpptsi {
    width: 70px;
  }

  /* line 1083, ../sass/style.scss */
  .activity .item_activity {
    margin-bottom: 30px;
  }

  /* line 1088, ../sass/style.scss */
  #nav_abpptsi .navbar-collapse {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 999;
    left: 15px;
  }

  /* line 1096, ../sass/style.scss */
  .content_inside {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 1101, ../sass/style.scss */
  .inspiration .inspiration_box {
    margin-bottom: 45px;
  }

  /* line 1107, ../sass/style.scss */
  .home_banner .banner_text h2 {
    font-family: 'libre_baskervilleregular';
    font-size: 25px;
    line-height: 30px;
    color: #ffffff;
  }
  /* line 1113, ../sass/style.scss */
  .home_banner .banner_text p {
    font-size: 12px;
    line-height: 20px;
    color: #ffffff;
    opacity: 0.9;
    -moz-opacity: 0.9;
    filter: alpha(opacity=9);
  }

  /* line 1123, ../sass/style.scss */
  .item_policy {
    text-align: center;
  }
  /* line 1125, ../sass/style.scss */
  .item_policy img {
    margin-bottom: 30px;
  }

  /* line 1130, ../sass/style.scss */
  .footer .address {
    border-right: none;
  }

  /* line 1135, ../sass/style.scss */
  .footer_bottom .copyright {
    text-align: center;
  }
  /* line 1138, ../sass/style.scss */
  .footer_bottom .to_top {
    text-align: center;
  }
}
@media (max-width: 540px) {
  /* line 1145, ../sass/style.scss */
  .activity_grid {
    width: 100%;
    float: none;
  }
}
@media (max-width: 480px) {
  /* line 1153, ../sass/style.scss */
  .footer .footer_menu {
    padding-top: 0px;
  }
  /* line 1155, ../sass/style.scss */
  .footer .footer_menu li {
    height: auto;
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
  /* line 1160, ../sass/style.scss */
  .footer .footer_menu li li {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }

  /* line 1170, ../sass/style.scss */
  .inspiration .inspiration_box {
    height: 950px;
  }
  /* line 1172, ../sass/style.scss */
  .inspiration .inspiration_box .img_inspiration {
    height: 500px;
    width: 100%;
    float: none;
  }
  /* line 1177, ../sass/style.scss */
  .inspiration .inspiration_box .desc_inspiration {
    width: 100%;
    float: left;
  }

  /* line 1187, ../sass/style.scss */
  .gallery_padding_mobile.row {
    margin-right: 0px;
    margin-left: 0px;
  }
}
